.vinculum-container
{
    /* position: relative; */
    /* display: flex; */
    
}

.vinculum-explaination
{
    position: absolute;
    
    font-size: 20px;
    padding: 3vh 3vw;
}

.explained
{
    overflow-y: scroll;
    font-size: 20px;
    left: 10vw;
    position: absolute;
    /* text-overflow: ellipsis; */
    width: 30vw;
    height: 30vh;
    padding: 3vh 3vw;
}

.explained-clicked
{
    overflow-y: scroll;
    font-size: 20px;
    left: 10vw;
    position: absolute;
    /* text-overflow: ellipsis; */
    width: 30vw;
    height: 30vh;
    padding: 3vh 3vw;
    background-color: grey;
}

.vinculum-line
{
    background-color: black;
    width: 40vw;
    height: 2vh;
}

